# =============================================================================
# Boulder Dash style game graphics
# =============================================================================

empty_space:                                            _GFX_FILE_DEFAULT_
empty_space.xpos:                                       0
empty_space.ypos:                                       0
empty_space.frames:                                     1
empty_space.scale_up_factor:                            2

bd_rock:                                                _GFX_FILE_DEFAULT_
bd_rock.xpos:                                           1
bd_rock.ypos:                                           0
bd_rock.frames:                                         1
bd_rock.scale_up_factor:                                2
bd_rock.falling.EDITOR:                                 _GFX_FILE_EDITOR_
bd_rock.falling.EDITOR.xpos:                            1
bd_rock.falling.EDITOR.ypos:                            3

bd_waiting_rock:                                        _GFX_FILE_DEFAULT_
bd_waiting_rock.xpos:                                   1
bd_waiting_rock.ypos:                                   0
bd_waiting_rock.frames:                                 1
bd_waiting_rock.scale_up_factor:                        2
bd_waiting_rock.EDITOR:                                 _GFX_FILE_EDITOR_
bd_waiting_rock.EDITOR.xpos:                            6
bd_waiting_rock.EDITOR.ypos:                            2

bd_rock_glued:                                          _GFX_FILE_DEFAULT_
bd_rock_glued.xpos:                                     1
bd_rock_glued.ypos:                                     0
bd_rock_glued.frames:                                   1
bd_rock_glued.scale_up_factor:                          2
bd_rock_glued.EDITOR:                                   _GFX_FILE_EDITOR_
bd_rock_glued.EDITOR.xpos:                              2
bd_rock_glued.EDITOR.ypos:                              4

bd_sand:                                                _GFX_FILE_DEFAULT_
bd_sand.xpos:                                           2
bd_sand.ypos:                                           0
bd_sand.frames:                                         1
bd_sand.scale_up_factor:                                2

bd_sand_2:                                              _GFX_FILE_DEFAULT_
bd_sand_2.xpos:                                         3
bd_sand_2.ypos:                                         0
bd_sand_2.frames:                                       1
bd_sand_2.scale_up_factor:                              2

bd_sand_glued:                                          _GFX_FILE_DEFAULT_
bd_sand_glued.xpos:                                     2
bd_sand_glued.ypos:                                     0
bd_sand_glued.frames:                                   1
bd_sand_glued.scale_up_factor:                          2
bd_sand_glued.EDITOR:                                   _GFX_FILE_EDITOR_
bd_sand_glued.EDITOR.xpos:                              0
bd_sand_glued.EDITOR.ypos:                              4

bd_steelwall:                                           _GFX_FILE_DEFAULT_
bd_steelwall.xpos:                                      4
bd_steelwall.ypos:                                      0
bd_steelwall.frames:                                    1
bd_steelwall.scale_up_factor:                           2

bd_steelwall_diggable:                                  _GFX_FILE_DEFAULT_
bd_steelwall_diggable.xpos:                             4
bd_steelwall_diggable.ypos:                             0
bd_steelwall_diggable.frames:                           1
bd_steelwall_diggable.scale_up_factor:                  2
bd_steelwall_diggable.EDITOR:                           _GFX_FILE_EDITOR_
bd_steelwall_diggable.EDITOR.xpos:                      2
bd_steelwall_diggable.EDITOR.ypos:                      0

bd_expandable_steelwall_horizontal:                     _GFX_FILE_DEFAULT_
bd_expandable_steelwall_horizontal.xpos:                4
bd_expandable_steelwall_horizontal.ypos:                0
bd_expandable_steelwall_horizontal.frames:              1
bd_expandable_steelwall_horizontal.scale_up_factor:     2
bd_expandable_steelwall_horizontal.EDITOR:              _GFX_FILE_EDITOR_
bd_expandable_steelwall_horizontal.EDITOR.xpos:         0
bd_expandable_steelwall_horizontal.EDITOR.ypos:         2

bd_expandable_steelwall_vertical:                       _GFX_FILE_DEFAULT_
bd_expandable_steelwall_vertical.xpos:                  4
bd_expandable_steelwall_vertical.ypos:                  0
bd_expandable_steelwall_vertical.frames:                1
bd_expandable_steelwall_vertical.scale_up_factor:       2
bd_expandable_steelwall_vertical.EDITOR:                _GFX_FILE_EDITOR_
bd_expandable_steelwall_vertical.EDITOR.xpos:           1
bd_expandable_steelwall_vertical.EDITOR.ypos:           2

bd_expandable_steelwall_any:                            _GFX_FILE_DEFAULT_
bd_expandable_steelwall_any.xpos:                       4
bd_expandable_steelwall_any.ypos:                       0
bd_expandable_steelwall_any.frames:                     1
bd_expandable_steelwall_any.scale_up_factor:            2
bd_expandable_steelwall_any.EDITOR:                     _GFX_FILE_EDITOR_
bd_expandable_steelwall_any.EDITOR.xpos:                2
bd_expandable_steelwall_any.EDITOR.ypos:                2

bd_steelwall_explodable:                                _GFX_FILE_DEFAULT_
bd_steelwall_explodable.xpos:                           4
bd_steelwall_explodable.ypos:                           0
bd_steelwall_explodable.frames:                         1
bd_steelwall_explodable.scale_up_factor:                2
bd_steelwall_explodable.EDITOR:                         _GFX_FILE_DEFAULT_
bd_steelwall_explodable.EDITOR.xpos:                    0
bd_steelwall_explodable.EDITOR.ypos:                    9
bd_steelwall_explodable.EDITOR.scale_up_factor:         2

bd_wall:                                                _GFX_FILE_DEFAULT_
bd_wall.xpos:                                           5
bd_wall.ypos:                                           0
bd_wall.frames:                                         1
bd_wall.scale_up_factor:                                2

bd_wall_non_sloped:                                     _GFX_FILE_DEFAULT_
bd_wall_non_sloped.xpos:                                5
bd_wall_non_sloped.ypos:                                0
bd_wall_non_sloped.frames:                              1
bd_wall_non_sloped.scale_up_factor:                     2

bd_magic_wall:                                          _GFX_FILE_DEFAULT_
bd_magic_wall.xpos:                                     5
bd_magic_wall.ypos:                                     0
bd_magic_wall.frames:                                   1
bd_magic_wall.scale_up_factor:                          2
bd_magic_wall.EDITOR:                                   _GFX_FILE_DEFAULT_
bd_magic_wall.EDITOR.xpos:                              0
bd_magic_wall.EDITOR.ypos:                              23
bd_magic_wall.EDITOR.scale_up_factor:                   2

bd_wall_diamond:                                        _GFX_FILE_DEFAULT_
bd_wall_diamond.xpos:                                   5
bd_wall_diamond.ypos:                                   0
bd_wall_diamond.frames:                                 1
bd_wall_diamond.scale_up_factor:                        2
bd_wall_diamond.EDITOR:                                 _GFX_FILE_EDITOR_
bd_wall_diamond.EDITOR.xpos:                            3
bd_wall_diamond.EDITOR.ypos:                            1

bd_wall_key_1:                                          _GFX_FILE_DEFAULT_
bd_wall_key_1.xpos:                                     5
bd_wall_key_1.ypos:                                     0
bd_wall_key_1.frames:                                   1
bd_wall_key_1.scale_up_factor:                          2
bd_wall_key_1.EDITOR:                                   _GFX_FILE_EDITOR_
bd_wall_key_1.EDITOR.xpos:                              0
bd_wall_key_1.EDITOR.ypos:                              1

bd_wall_key_2:                                          _GFX_FILE_DEFAULT_
bd_wall_key_2.xpos:                                     5
bd_wall_key_2.ypos:                                     0
bd_wall_key_2.frames:                                   1
bd_wall_key_2.scale_up_factor:                          2
bd_wall_key_2.EDITOR:                                   _GFX_FILE_EDITOR_
bd_wall_key_2.EDITOR.xpos:                              1
bd_wall_key_2.EDITOR.ypos:                              1

bd_wall_key_3:                                          _GFX_FILE_DEFAULT_
bd_wall_key_3.xpos:                                     5
bd_wall_key_3.ypos:                                     0
bd_wall_key_3.frames:                                   1
bd_wall_key_3.scale_up_factor:                          2
bd_wall_key_3.EDITOR:                                   _GFX_FILE_EDITOR_
bd_wall_key_3.EDITOR.xpos:                              2
bd_wall_key_3.EDITOR.ypos:                              1

bd_falling_wall:                                        _GFX_FILE_DEFAULT_
bd_falling_wall.xpos:                                   5
bd_falling_wall.ypos:                                   0
bd_falling_wall.frames:                                 1
bd_falling_wall.scale_up_factor:                        2
bd_falling_wall.EDITOR:                                 _GFX_FILE_EDITOR_
bd_falling_wall.EDITOR.xpos:                            0
bd_falling_wall.EDITOR.ypos:                            0
bd_falling_wall.falling.EDITOR:                         _GFX_FILE_EDITOR_
bd_falling_wall.falling.EDITOR.xpos:                    5
bd_falling_wall.falling.EDITOR.ypos:                    3

bd_wall_diggable:                                       _GFX_FILE_DEFAULT_
bd_wall_diggable.xpos:                                  5
bd_wall_diggable.ypos:                                  0
bd_wall_diggable.frames:                                1
bd_wall_diggable.scale_up_factor:                       2
bd_wall_diggable.EDITOR:                                _GFX_FILE_EDITOR_
bd_wall_diggable.EDITOR.xpos:                           1
bd_wall_diggable.EDITOR.ypos:                           0

bd_expandable_wall_horizontal:                          _GFX_FILE_DEFAULT_
bd_expandable_wall_horizontal.xpos:                     5
bd_expandable_wall_horizontal.ypos:                     0
bd_expandable_wall_horizontal.frames:                   1
bd_expandable_wall_horizontal.scale_up_factor:          2
bd_expandable_wall_horizontal.EDITOR:                   _GFX_FILE_EDITOR_
bd_expandable_wall_horizontal.EDITOR.xpos:              3
bd_expandable_wall_horizontal.EDITOR.ypos:              2

bd_expandable_wall_vertical:                            _GFX_FILE_DEFAULT_
bd_expandable_wall_vertical.xpos:                       5
bd_expandable_wall_vertical.ypos:                       0
bd_expandable_wall_vertical.frames:                     1
bd_expandable_wall_vertical.scale_up_factor:            2
bd_expandable_wall_vertical.EDITOR:                     _GFX_FILE_EDITOR_
bd_expandable_wall_vertical.EDITOR.xpos:                4
bd_expandable_wall_vertical.EDITOR.ypos:                2

bd_expandable_wall_any:                                 _GFX_FILE_DEFAULT_
bd_expandable_wall_any.xpos:                            5
bd_expandable_wall_any.ypos:                            0
bd_expandable_wall_any.frames:                          1
bd_expandable_wall_any.scale_up_factor:                 2
bd_expandable_wall_any.EDITOR:                          _GFX_FILE_EDITOR_
bd_expandable_wall_any.EDITOR.xpos:                     5
bd_expandable_wall_any.EDITOR.ypos:                     2

bd_bladder_spender:                                     _GFX_FILE_DEFAULT_
bd_bladder_spender.xpos:                                6
bd_bladder_spender.ypos:                                0
bd_bladder_spender.frames:                              1
bd_bladder_spender.scale_up_factor:                     2

bd_voodoo_doll:                                         _GFX_FILE_DEFAULT_
bd_voodoo_doll.xpos:                                    7
bd_voodoo_doll.ypos:                                    0
bd_voodoo_doll.frames:                                  1
bd_voodoo_doll.scale_up_factor:                         2

bd_sweet:                                               _GFX_FILE_DEFAULT_
bd_sweet.xpos:                                          0
bd_sweet.ypos:                                          1
bd_sweet.frames:                                        1
bd_sweet.scale_up_factor:                               2

bd_gravestone:                                          _GFX_FILE_DEFAULT_
bd_gravestone.xpos:                                     1
bd_gravestone.ypos:                                     1
bd_gravestone.frames:                                   1
bd_gravestone.scale_up_factor:                          2

bd_time_penalty:                                        _GFX_FILE_DEFAULT_
bd_time_penalty.xpos:                                   1
bd_time_penalty.ypos:                                   1
bd_time_penalty.frames:                                 1
bd_time_penalty.scale_up_factor:                        2

bd_trapped_diamond:                                     _GFX_FILE_DEFAULT_
bd_trapped_diamond.xpos:                                2
bd_trapped_diamond.ypos:                                1
bd_trapped_diamond.frames:                              1
bd_trapped_diamond.scale_up_factor:                     2

bd_diamond_key:                                         _GFX_FILE_DEFAULT_
bd_diamond_key.xpos:                                    3
bd_diamond_key.ypos:                                    1
bd_diamond_key.frames:                                  1
bd_diamond_key.scale_up_factor:                         2

bd_biter_switch_1:                                      _GFX_FILE_DEFAULT_
bd_biter_switch_1.xpos:                                 4
bd_biter_switch_1.ypos:                                 1
bd_biter_switch_1.frames:                               1
bd_biter_switch_1.scale_up_factor:                      2

bd_biter_switch_2:                                      _GFX_FILE_DEFAULT_
bd_biter_switch_2.xpos:                                 5
bd_biter_switch_2.ypos:                                 1
bd_biter_switch_2.frames:                               1
bd_biter_switch_2.scale_up_factor:                      2

bd_biter_switch_3:                                      _GFX_FILE_DEFAULT_
bd_biter_switch_3.xpos:                                 6
bd_biter_switch_3.ypos:                                 1
bd_biter_switch_3.frames:                               1
bd_biter_switch_3.scale_up_factor:                      2

bd_biter_switch_4:                                      _GFX_FILE_DEFAULT_
bd_biter_switch_4.xpos:                                 7
bd_biter_switch_4.ypos:                                 1
bd_biter_switch_4.frames:                               1
bd_biter_switch_4.scale_up_factor:                      2

bd_clock:                                               _GFX_FILE_DEFAULT_
bd_clock.xpos:                                          0
bd_clock.ypos:                                          2
bd_clock.frames:                                        1
bd_clock.scale_up_factor:                               2

bd_chasing_rock:                                        _GFX_FILE_DEFAULT_
bd_chasing_rock.xpos:                                   1
bd_chasing_rock.ypos:                                   2
bd_chasing_rock.frames:                                 1
bd_chasing_rock.scale_up_factor:                        2

bd_creature_switch:                                     _GFX_FILE_DEFAULT_
bd_creature_switch.xpos:                                2
bd_creature_switch.ypos:                                2
bd_creature_switch.frames:                              1
bd_creature_switch.scale_up_factor:                     2
bd_creature_switch.active:                              _GFX_FILE_DEFAULT_
bd_creature_switch.active.xpos:                         3
bd_creature_switch.active.ypos:                         2
bd_creature_switch.active.frames:                       1
bd_creature_switch.active.scale_up_factor:              2

bd_acid:                                                _GFX_FILE_DEFAULT_
bd_acid.xpos:                                           4
bd_acid.ypos:                                           2
bd_acid.frames:                                         1
bd_acid.scale_up_factor:                                2

bd_box:                                                 _GFX_FILE_DEFAULT_
bd_box.xpos:                                            5
bd_box.ypos:                                            2
bd_box.frames:                                          1
bd_box.scale_up_factor:                                 2

bd_inbox:                                               _GFX_FILE_DEFAULT_
bd_inbox.xpos:                                          6
bd_inbox.ypos:                                          2
bd_inbox.frames:                                        1
bd_inbox.scale_up_factor:                               2
bd_inbox.opening:                                       _GFX_FILE_DEFAULT_
bd_inbox.opening.xpos:                                  6
bd_inbox.opening.ypos:                                  2
bd_inbox.opening.frames:                                2
bd_inbox.opening.delay:                                 8
bd_inbox.opening.anim_mode:                             reverse
bd_inbox.opening.scale_up_factor:                       2
bd_inbox.EDITOR:                                        _GFX_FILE_EDITOR_
bd_inbox.EDITOR.xpos:                                   5
bd_inbox.EDITOR.ypos:                                   1

bd_exit_closed:                                         _GFX_FILE_DEFAULT_
bd_exit_closed.xpos:                                    6
bd_exit_closed.ypos:                                    2
bd_exit_closed.frames:                                  1
bd_exit_closed.scale_up_factor:                         2
bd_exit_closed.EDITOR:                                  _GFX_FILE_EDITOR_
bd_exit_closed.EDITOR.xpos:                             3
bd_exit_closed.EDITOR.ypos:                             0

bd_exit_open:                                           _GFX_FILE_DEFAULT_
bd_exit_open.xpos:                                      6
bd_exit_open.ypos:                                      2
bd_exit_open.frames:                                    2
bd_exit_open.delay:                                     8
bd_exit_open.anim_mode:                                 reverse
bd_exit_open.scale_up_factor:                           2
bd_exit_open.EDITOR:                                    _GFX_FILE_EDITOR_
bd_exit_open.EDITOR.xpos:                               7
bd_exit_open.EDITOR.ypos:                               1

bd_invisible_exit_closed:                               _GFX_FILE_DEFAULT_
bd_invisible_exit_closed.xpos:                          6
bd_invisible_exit_closed.ypos:                          2
bd_invisible_exit_closed.frames:                        1
bd_invisible_exit_closed.scale_up_factor:               2
bd_invisible_exit_closed.EDITOR:                        _GFX_FILE_EDITOR_
bd_invisible_exit_closed.EDITOR.xpos:                   4
bd_invisible_exit_closed.EDITOR.ypos:                   0

bd_invisible_exit_open:                                 _GFX_FILE_DEFAULT_
bd_invisible_exit_open.xpos:                            6
bd_invisible_exit_open.ypos:                            2
bd_invisible_exit_open.frames:                          1
bd_invisible_exit_open.scale_up_factor:                 2
bd_invisible_exit_open.EDITOR:                          _GFX_FILE_EDITOR_
bd_invisible_exit_open.EDITOR.xpos:                     6
bd_invisible_exit_open.EDITOR.ypos:                     1

bd_steelwall.growing:                                   _GFX_FILE_DEFAULT_
bd_steelwall.growing.xpos:                              0
bd_steelwall.growing.ypos:                              3
bd_steelwall.growing.frames:                            4
bd_steelwall.growing.delay:                             8
bd_steelwall.growing.anim_mode:                         linear
bd_steelwall.growing.scale_up_factor:                   2

bd_clock.growing:                                       _GFX_FILE_DEFAULT_
bd_clock.growing.xpos:                                  4
bd_clock.growing.ypos:                                  3
bd_clock.growing.frames:                                4
bd_clock.growing.delay:                                 8
bd_clock.growing.anim_mode:                             linear
bd_clock.growing.scale_up_factor:                       2

bd_player.growing:                                      _GFX_FILE_DEFAULT_
bd_player.growing.xpos:                                 0
bd_player.growing.ypos:                                 4
bd_player.growing.frames:                               4
bd_player.growing.delay:                                8
bd_player.growing.anim_mode:                            linear
bd_player.growing.scale_up_factor:                      2

bd_player:                                              _GFX_FILE_DEFAULT_
bd_player.xpos:                                         3
bd_player.ypos:                                         4
bd_player.frames:                                       1
bd_player.scale_up_factor:                              2

bd_player_glued:                                        _GFX_FILE_DEFAULT_
bd_player_glued.xpos:                                   3
bd_player_glued.ypos:                                   4
bd_player_glued.frames:                                 1
bd_player_glued.scale_up_factor:                        2
bd_player_glued.EDITOR:                                 _GFX_FILE_EDITOR_
bd_player_glued.EDITOR.xpos:                            5
bd_player_glued.EDITOR.ypos:                            0

bd_rock.growing:                                        _GFX_FILE_DEFAULT_
bd_rock.growing.xpos:                                   4
bd_rock.growing.ypos:                                   4
bd_rock.growing.frames:                                 4
bd_rock.growing.delay:                                  8
bd_rock.growing.anim_mode:                              linear
bd_rock.growing.scale_up_factor:                        2

bd_expandable_wall_switch:                              _GFX_FILE_DEFAULT_
bd_expandable_wall_switch.xpos:                         0
bd_expandable_wall_switch.ypos:                         5
bd_expandable_wall_switch.frames:                       1
bd_expandable_wall_switch.scale_up_factor:              2

bd_expandable_wall_switch.active:                       _GFX_FILE_DEFAULT_
bd_expandable_wall_switch.active.xpos:                  1
bd_expandable_wall_switch.active.ypos:                  5
bd_expandable_wall_switch.active.frames:                1
bd_expandable_wall_switch.active.scale_up_factor:       2

bd_player_with_bomb:                                    _GFX_FILE_DEFAULT_
bd_player_with_bomb.xpos:                               2
bd_player_with_bomb.ypos:                               5
bd_player_with_bomb.frames:                             1
bd_player_with_bomb.scale_up_factor:                    2

[default].exploding:                                    _GFX_FILE_DEFAULT_
[default].exploding.xpos:                               3
[default].exploding.ypos:                               5
[default].exploding.frames:                             5
[default].exploding.delay:                              8
[default].exploding.anim_mode:                          linear
[default].exploding.scale_up_factor:                    2

bd_nitro_pack.exploding:                                _GFX_FILE_DEFAULT_
bd_nitro_pack.exploding.xpos:                           4
bd_nitro_pack.exploding.ypos:                           5
bd_nitro_pack.exploding.frames:                         4
bd_nitro_pack.exploding.delay:                          8
bd_nitro_pack.exploding.anim_mode:                      linear
bd_nitro_pack.exploding.scale_up_factor:                2
bd_nitro_pack.exploding.EDITOR:                         _GFX_FILE_EDITOR_
bd_nitro_pack.exploding.EDITOR.xpos:                    7
bd_nitro_pack.exploding.EDITOR.ypos:                    2

bd_bomb:                                                _GFX_FILE_DEFAULT_
bd_bomb.xpos:                                           0
bd_bomb.ypos:                                           6
bd_bomb.frames:                                         1
bd_bomb.scale_up_factor:                                2
bd_bomb.active:                                         _GFX_FILE_DEFAULT_
bd_bomb.active.xpos:                                    1
bd_bomb.active.ypos:                                    6
bd_bomb.active.frames:                                  7
bd_bomb.active.delay:                                   8
bd_bomb.active.anim_mode:                               linear
bd_bomb.active.scale_up_factor:                         2

bd_diamond.growing:                                     _GFX_FILE_DEFAULT_
bd_diamond.growing.xpos:                                0
bd_diamond.growing.ypos:                                7
bd_diamond.growing.frames:                              5
bd_diamond.growing.delay:                               8
bd_diamond.growing.anim_mode:                           linear
bd_diamond.growing.scale_up_factor:                     2

bd_teleporter:                                          _GFX_FILE_DEFAULT_
bd_teleporter.xpos:                                     5
bd_teleporter.ypos:                                     7
bd_teleporter.frames:                                   1
bd_teleporter.scale_up_factor:                          2

bd_pneumatic_hammer:                                    _GFX_FILE_DEFAULT_
bd_pneumatic_hammer.xpos:                               6
bd_pneumatic_hammer.ypos:                               7
bd_pneumatic_hammer.frames:                             1
bd_pneumatic_hammer.scale_up_factor:                    2

bd_pot:                                                 _GFX_FILE_DEFAULT_
bd_pot.xpos:                                            7
bd_pot.ypos:                                            7
bd_pot.frames:                                          1
bd_pot.scale_up_factor:                                 2

bd_gate_1:                                              _GFX_FILE_DEFAULT_
bd_gate_1.xpos:                                         0
bd_gate_1.ypos:                                         8
bd_gate_1.frames:                                       1
bd_gate_1.scale_up_factor:                              2

bd_gate_2:                                              _GFX_FILE_DEFAULT_
bd_gate_2.xpos:                                         1
bd_gate_2.ypos:                                         8
bd_gate_2.frames:                                       1
bd_gate_2.scale_up_factor:                              2

bd_gate_3:                                              _GFX_FILE_DEFAULT_
bd_gate_3.xpos:                                         2
bd_gate_3.ypos:                                         8
bd_gate_3.frames:                                       1
bd_gate_3.scale_up_factor:                              2

bd_key_1:                                               _GFX_FILE_DEFAULT_
bd_key_1.xpos:                                          3
bd_key_1.ypos:                                          8
bd_key_1.frames:                                        1
bd_key_1.scale_up_factor:                               2

bd_key_2:                                               _GFX_FILE_DEFAULT_
bd_key_2.xpos:                                          4
bd_key_2.ypos:                                          8
bd_key_2.frames:                                        1
bd_key_2.scale_up_factor:                               2

bd_key_3:                                               _GFX_FILE_DEFAULT_
bd_key_3.xpos:                                          5
bd_key_3.ypos:                                          8
bd_key_3.frames:                                        1
bd_key_3.scale_up_factor:                               2

bd_ghost.exploding:                                     _GFX_FILE_DEFAULT_
bd_ghost.exploding.xpos:                                0
bd_ghost.exploding.ypos:                                10
bd_ghost.exploding.frames:                              4
bd_ghost.exploding.delay:                               8
bd_ghost.exploding.anim_mode:                           linear
bd_ghost.exploding.scale_up_factor:                     2

bd_bomb.exploding:                                      _GFX_FILE_DEFAULT_
bd_bomb.exploding.xpos:                                 4
bd_bomb.exploding.ypos:                                 10
bd_bomb.exploding.frames:                               4
bd_bomb.exploding.delay:                                8
bd_bomb.exploding.anim_mode:                            linear
bd_bomb.exploding.scale_up_factor:                      2

bd_water:                                               _GFX_FILE_DEFAULT_
bd_water.xpos:                                          0
bd_water.ypos:                                          12
bd_water.frames:                                        8
bd_water.delay:                                         2
bd_water.scale_up_factor:                               2

bd_cow:                                                 _GFX_FILE_DEFAULT_
bd_cow.xpos:                                            0
bd_cow.ypos:                                            11
bd_cow.frames:                                          8
bd_cow.delay:                                           2
bd_cow.anim_mode:                                       loop
bd_cow.scale_up_factor:                                 2
bd_cow.left:                                            _GFX_FILE_DEFAULT_
bd_cow.left.xpos:                                       0
bd_cow.left.ypos:                                       11
bd_cow.left.frames:                                     8
bd_cow.left.delay:                                      2
bd_cow.left.anim_mode:                                  loop
bd_cow.left.scale_up_factor:                            2
bd_cow.left.EDITOR:                                     _GFX_FILE_EDITOR_
bd_cow.left.EDITOR.xpos:                                6
bd_cow.left.EDITOR.ypos:                                7
bd_cow.up:                                              _GFX_FILE_DEFAULT_
bd_cow.up.xpos:                                         0
bd_cow.up.ypos:                                         11
bd_cow.up.frames:                                       8
bd_cow.up.delay:                                        2
bd_cow.up.anim_mode:                                    loop
bd_cow.up.scale_up_factor:                              2
bd_cow.up.EDITOR:                                       _GFX_FILE_EDITOR_
bd_cow.up.EDITOR.xpos:                                  4
bd_cow.up.EDITOR.ypos:                                  7
bd_cow.right:                                           _GFX_FILE_DEFAULT_
bd_cow.right.xpos:                                      0
bd_cow.right.ypos:                                      11
bd_cow.right.frames:                                    8
bd_cow.right.delay:                                     2
bd_cow.right.anim_mode:                                 loop
bd_cow.right.scale_up_factor:                           2
bd_cow.right.EDITOR:                                    _GFX_FILE_EDITOR_
bd_cow.right.EDITOR.xpos:                               7
bd_cow.right.EDITOR.ypos:                               7
bd_cow.down:                                            _GFX_FILE_DEFAULT_
bd_cow.down.xpos:                                       0
bd_cow.down.ypos:                                       11
bd_cow.down.frames:                                     8
bd_cow.down.delay:                                      2
bd_cow.down.anim_mode:                                  loop
bd_cow.down.scale_up_factor:                            2
bd_cow.down.EDITOR:                                     _GFX_FILE_EDITOR_
bd_cow.down.EDITOR.xpos:                                5
bd_cow.down.EDITOR.ypos:                                7
bd_cow_enclosed_1.EDITOR:                               _GFX_FILE_EDITOR_
bd_cow_enclosed_1.EDITOR.xpos:                          4
bd_cow_enclosed_1.EDITOR.ypos:                          1
bd_cow_enclosed_2.EDITOR:                               _GFX_FILE_EDITOR_
bd_cow_enclosed_2.EDITOR.xpos:                          4
bd_cow_enclosed_2.EDITOR.ypos:                          1
bd_cow_enclosed_3.EDITOR:                               _GFX_FILE_EDITOR_
bd_cow_enclosed_3.EDITOR.xpos:                          4
bd_cow_enclosed_3.EDITOR.ypos:                          1
bd_cow_enclosed_4.EDITOR:                               _GFX_FILE_EDITOR_
bd_cow_enclosed_4.EDITOR.xpos:                          4
bd_cow_enclosed_4.EDITOR.ypos:                          1
bd_cow_enclosed_5.EDITOR:                               _GFX_FILE_EDITOR_
bd_cow_enclosed_5.EDITOR.xpos:                          4
bd_cow_enclosed_5.EDITOR.ypos:                          1
bd_cow_enclosed_6.EDITOR:                               _GFX_FILE_EDITOR_
bd_cow_enclosed_6.EDITOR.xpos:                          4
bd_cow_enclosed_6.EDITOR.ypos:                          1
bd_cow_enclosed_7.EDITOR:                               _GFX_FILE_EDITOR_
bd_cow_enclosed_7.EDITOR.xpos:                          4
bd_cow_enclosed_7.EDITOR.ypos:                          1

bd_firefly:                                             _GFX_FILE_DEFAULT_
bd_firefly.xpos:                                        0
bd_firefly.ypos:                                        17
bd_firefly.frames:                                      8
bd_firefly.delay:                                       2
bd_firefly.scale_up_factor:                             2
bd_firefly.left:                                        _GFX_FILE_DEFAULT_
bd_firefly.left.xpos:                                   0
bd_firefly.left.ypos:                                   17
bd_firefly.left.frames:                                 8
bd_firefly.left.delay:                                  2
bd_firefly.left.scale_up_factor:                        2
bd_firefly.left.EDITOR:                                 _GFX_FILE_EDITOR_
bd_firefly.left.EDITOR.xpos:                            2
bd_firefly.left.EDITOR.ypos:                            5
bd_firefly.up:                                          _GFX_FILE_DEFAULT_
bd_firefly.up.xpos:                                     0
bd_firefly.up.ypos:                                     17
bd_firefly.up.frames:                                   8
bd_firefly.up.delay:                                    2
bd_firefly.up.scale_up_factor:                          2
bd_firefly.up.EDITOR:                                   _GFX_FILE_EDITOR_
bd_firefly.up.EDITOR.xpos:                              0
bd_firefly.up.EDITOR.ypos:                              5
bd_firefly.right:                                       _GFX_FILE_DEFAULT_
bd_firefly.right.xpos:                                  0
bd_firefly.right.ypos:                                  17
bd_firefly.right.frames:                                8
bd_firefly.right.delay:                                 2
bd_firefly.right.scale_up_factor:                       2
bd_firefly.right.EDITOR:                                _GFX_FILE_EDITOR_
bd_firefly.right.EDITOR.xpos:                           3
bd_firefly.right.EDITOR.ypos:                           5
bd_firefly.down:                                        _GFX_FILE_DEFAULT_
bd_firefly.down.xpos:                                   0
bd_firefly.down.ypos:                                   17
bd_firefly.down.frames:                                 8
bd_firefly.down.delay:                                  2
bd_firefly.down.scale_up_factor:                        2
bd_firefly.down.EDITOR:                                 _GFX_FILE_EDITOR_
bd_firefly.down.EDITOR.xpos:                            1
bd_firefly.down.EDITOR.ypos:                            5

bd_firefly_2:                                           _GFX_FILE_DEFAULT_
bd_firefly_2.xpos:                                      0
bd_firefly_2.ypos:                                      13
bd_firefly_2.frames:                                    8
bd_firefly_2.delay:                                     2
bd_firefly_2.scale_up_factor:                           2
bd_firefly_2.left:                                      _GFX_FILE_DEFAULT_
bd_firefly_2.left.xpos:                                 0
bd_firefly_2.left.ypos:                                 13
bd_firefly_2.left.frames:                               8
bd_firefly_2.left.delay:                                2
bd_firefly_2.left.scale_up_factor:                      2
bd_firefly_2.left.EDITOR:                               _GFX_FILE_EDITOR_
bd_firefly_2.left.EDITOR.xpos:                          6
bd_firefly_2.left.EDITOR.ypos:                          5
bd_firefly_2.up:                                        _GFX_FILE_DEFAULT_
bd_firefly_2.up.xpos:                                   0
bd_firefly_2.up.ypos:                                   13
bd_firefly_2.up.frames:                                 8
bd_firefly_2.up.delay:                                  2
bd_firefly_2.up.scale_up_factor:                        2
bd_firefly_2.up.EDITOR:                                 _GFX_FILE_EDITOR_
bd_firefly_2.up.EDITOR.xpos:                            4
bd_firefly_2.up.EDITOR.ypos:                            5
bd_firefly_2.right:                                     _GFX_FILE_DEFAULT_
bd_firefly_2.right.xpos:                                0
bd_firefly_2.right.ypos:                                13
bd_firefly_2.right.frames:                              8
bd_firefly_2.right.delay:                               2
bd_firefly_2.right.scale_up_factor:                     2
bd_firefly_2.right.EDITOR:                              _GFX_FILE_EDITOR_
bd_firefly_2.right.EDITOR.xpos:                         7
bd_firefly_2.right.EDITOR.ypos:                         5
bd_firefly_2.down:                                      _GFX_FILE_DEFAULT_
bd_firefly_2.down.xpos:                                 0
bd_firefly_2.down.ypos:                                 13
bd_firefly_2.down.frames:                               8
bd_firefly_2.down.delay:                                2
bd_firefly_2.down.scale_up_factor:                      2
bd_firefly_2.down.EDITOR:                               _GFX_FILE_EDITOR_
bd_firefly_2.down.EDITOR.xpos:                          5
bd_firefly_2.down.EDITOR.ypos:                          5

bd_butterfly:                                           _GFX_FILE_DEFAULT_
bd_butterfly.xpos:                                      0
bd_butterfly.ypos:                                      18
bd_butterfly.frames:                                    8
bd_butterfly.delay:                                     2
bd_butterfly.scale_up_factor:                           2
bd_butterfly.left:                                      _GFX_FILE_DEFAULT_
bd_butterfly.left.xpos:                                 0
bd_butterfly.left.ypos:                                 18
bd_butterfly.left.frames:                               8
bd_butterfly.left.delay:                                2
bd_butterfly.left.scale_up_factor:                      2
bd_butterfly.left.EDITOR:                               _GFX_FILE_EDITOR_
bd_butterfly.left.EDITOR.xpos:                          2
bd_butterfly.left.EDITOR.ypos:                          6
bd_butterfly.up:                                        _GFX_FILE_DEFAULT_
bd_butterfly.up.xpos:                                   0
bd_butterfly.up.ypos:                                   18
bd_butterfly.up.frames:                                 8
bd_butterfly.up.delay:                                  2
bd_butterfly.up.scale_up_factor:                        2
bd_butterfly.up.EDITOR:                                 _GFX_FILE_EDITOR_
bd_butterfly.up.EDITOR.xpos:                            0
bd_butterfly.up.EDITOR.ypos:                            6
bd_butterfly.right:                                     _GFX_FILE_DEFAULT_
bd_butterfly.right.xpos:                                0
bd_butterfly.right.ypos:                                18
bd_butterfly.right.frames:                              8
bd_butterfly.right.delay:                               2
bd_butterfly.right.scale_up_factor:                     2
bd_butterfly.right.EDITOR:                              _GFX_FILE_EDITOR_
bd_butterfly.right.EDITOR.xpos:                         3
bd_butterfly.right.EDITOR.ypos:                         6
bd_butterfly.down:                                      _GFX_FILE_DEFAULT_
bd_butterfly.down.xpos:                                 0
bd_butterfly.down.ypos:                                 18
bd_butterfly.down.frames:                               8
bd_butterfly.down.delay:                                2
bd_butterfly.down.scale_up_factor:                      2
bd_butterfly.down.EDITOR:                               _GFX_FILE_EDITOR_
bd_butterfly.down.EDITOR.xpos:                          1
bd_butterfly.down.EDITOR.ypos:                          6

bd_butterfly_2:                                         _GFX_FILE_DEFAULT_
bd_butterfly_2.xpos:                                    0
bd_butterfly_2.ypos:                                    14
bd_butterfly_2.frames:                                  8
bd_butterfly_2.delay:                                   2
bd_butterfly_2.scale_up_factor:                         2
bd_butterfly_2.left:                                    _GFX_FILE_DEFAULT_
bd_butterfly_2.left.xpos:                               0
bd_butterfly_2.left.ypos:                               14
bd_butterfly_2.left.frames:                             8
bd_butterfly_2.left.delay:                              2
bd_butterfly_2.left.scale_up_factor:                    2
bd_butterfly_2.left.EDITOR:                             _GFX_FILE_EDITOR_
bd_butterfly_2.left.EDITOR.xpos:                        6
bd_butterfly_2.left.EDITOR.ypos:                        6
bd_butterfly_2.up:                                      _GFX_FILE_DEFAULT_
bd_butterfly_2.up.xpos:                                 0
bd_butterfly_2.up.ypos:                                 14
bd_butterfly_2.up.frames:                               8
bd_butterfly_2.up.delay:                                2
bd_butterfly_2.up.scale_up_factor:                      2
bd_butterfly_2.up.EDITOR:                               _GFX_FILE_EDITOR_
bd_butterfly_2.up.EDITOR.xpos:                          4
bd_butterfly_2.up.EDITOR.ypos:                          6
bd_butterfly_2.right:                                   _GFX_FILE_DEFAULT_
bd_butterfly_2.right.xpos:                              0
bd_butterfly_2.right.ypos:                              14
bd_butterfly_2.right.frames:                            8
bd_butterfly_2.right.delay:                             2
bd_butterfly_2.right.scale_up_factor:                   2
bd_butterfly_2.right.EDITOR:                            _GFX_FILE_EDITOR_
bd_butterfly_2.right.EDITOR.xpos:                       7
bd_butterfly_2.right.EDITOR.ypos:                       6
bd_butterfly_2.down:                                    _GFX_FILE_DEFAULT_
bd_butterfly_2.down.xpos:                               0
bd_butterfly_2.down.ypos:                               14
bd_butterfly_2.down.frames:                             8
bd_butterfly_2.down.delay:                              2
bd_butterfly_2.down.scale_up_factor:                    2
bd_butterfly_2.down.EDITOR:                             _GFX_FILE_EDITOR_
bd_butterfly_2.down.EDITOR.xpos:                        5
bd_butterfly_2.down.EDITOR.ypos:                        6

bd_stonefly:                                            _GFX_FILE_DEFAULT_
bd_stonefly.xpos:                                       0
bd_stonefly.ypos:                                       19
bd_stonefly.frames:                                     8
bd_stonefly.delay:                                      2
bd_stonefly.scale_up_factor:                            2
bd_stonefly.left:                                       _GFX_FILE_DEFAULT_
bd_stonefly.left.xpos:                                  0
bd_stonefly.left.ypos:                                  19
bd_stonefly.left.frames:                                8
bd_stonefly.left.delay:                                 2
bd_stonefly.left.scale_up_factor:                       2
bd_stonefly.left.EDITOR:                                _GFX_FILE_EDITOR_
bd_stonefly.left.EDITOR.xpos:                           2
bd_stonefly.left.EDITOR.ypos:                           7
bd_stonefly.up:                                         _GFX_FILE_DEFAULT_
bd_stonefly.up.xpos:                                    0
bd_stonefly.up.ypos:                                    19
bd_stonefly.up.frames:                                  8
bd_stonefly.up.delay:                                   2
bd_stonefly.up.scale_up_factor:                         2
bd_stonefly.up.EDITOR:                                  _GFX_FILE_EDITOR_
bd_stonefly.up.EDITOR.xpos:                             0
bd_stonefly.up.EDITOR.ypos:                             7
bd_stonefly.right:                                      _GFX_FILE_DEFAULT_
bd_stonefly.right.xpos:                                 0
bd_stonefly.right.ypos:                                 19
bd_stonefly.right.frames:                               8
bd_stonefly.right.delay:                                2
bd_stonefly.right.scale_up_factor:                      2
bd_stonefly.right.EDITOR:                               _GFX_FILE_EDITOR_
bd_stonefly.right.EDITOR.xpos:                          3
bd_stonefly.right.EDITOR.ypos:                          7
bd_stonefly.down:                                       _GFX_FILE_DEFAULT_
bd_stonefly.down.xpos:                                  0
bd_stonefly.down.ypos:                                  19
bd_stonefly.down.frames:                                8
bd_stonefly.down.delay:                                 2
bd_stonefly.down.scale_up_factor:                       2
bd_stonefly.down.EDITOR:                                _GFX_FILE_EDITOR_
bd_stonefly.down.EDITOR.xpos:                           1
bd_stonefly.down.EDITOR.ypos:                           7

bd_biter:                                               _GFX_FILE_DEFAULT_
bd_biter.xpos:                                          0
bd_biter.ypos:                                          21
bd_biter.frames:                                        8
bd_biter.delay:                                         2
bd_biter.scale_up_factor:                               2
bd_biter.up:                                            _GFX_FILE_DEFAULT_
bd_biter.up.xpos:                                       0
bd_biter.up.ypos:                                       21
bd_biter.up.frames:                                     8
bd_biter.up.delay:                                      2
bd_biter.up.scale_up_factor:                            2
bd_biter.up.EDITOR:                                     _GFX_FILE_EDITOR_
bd_biter.up.EDITOR.xpos:                                0
bd_biter.up.EDITOR.ypos:                                8
bd_biter.right:                                         _GFX_FILE_DEFAULT_
bd_biter.right.xpos:                                    0
bd_biter.right.ypos:                                    21
bd_biter.right.frames:                                  8
bd_biter.right.delay:                                   2
bd_biter.right.scale_up_factor:                         2
bd_biter.right.EDITOR:                                  _GFX_FILE_EDITOR_
bd_biter.right.EDITOR.xpos:                             3
bd_biter.right.EDITOR.ypos:                             8
bd_biter.down:                                          _GFX_FILE_DEFAULT_
bd_biter.down.xpos:                                     0
bd_biter.down.ypos:                                     21
bd_biter.down.frames:                                   8
bd_biter.down.delay:                                    2
bd_biter.down.scale_up_factor:                          2
bd_biter.down.EDITOR:                                   _GFX_FILE_EDITOR_
bd_biter.down.EDITOR.xpos:                              1
bd_biter.down.EDITOR.ypos:                              8
bd_biter.left:                                          _GFX_FILE_DEFAULT_
bd_biter.left.xpos:                                     0
bd_biter.left.ypos:                                     21
bd_biter.left.frames:                                   8
bd_biter.left.delay:                                    2
bd_biter.left.scale_up_factor:                          2
bd_biter.left.EDITOR:                                   _GFX_FILE_EDITOR_
bd_biter.left.EDITOR.xpos:                              2
bd_biter.left.EDITOR.ypos:                              8

bd_dragonfly:                                           _GFX_FILE_DEFAULT_
bd_dragonfly.xpos:                                      0
bd_dragonfly.ypos:                                      42
bd_dragonfly.frames:                                    8
bd_dragonfly.delay:                                     2
bd_dragonfly.scale_up_factor:                           2
bd_dragonfly.left:                                      _GFX_FILE_DEFAULT_
bd_dragonfly.left.xpos:                                 0
bd_dragonfly.left.ypos:                                 42
bd_dragonfly.left.frames:                               8
bd_dragonfly.left.delay:                                2
bd_dragonfly.left.scale_up_factor:                      2
bd_dragonfly.left.EDITOR:                               _GFX_FILE_EDITOR_
bd_dragonfly.left.EDITOR.xpos:                          6
bd_dragonfly.left.EDITOR.ypos:                          8
bd_dragonfly.up:                                        _GFX_FILE_DEFAULT_
bd_dragonfly.up.xpos:                                   0
bd_dragonfly.up.ypos:                                   42
bd_dragonfly.up.frames:                                 8
bd_dragonfly.up.delay:                                  2
bd_dragonfly.up.scale_up_factor:                        2
bd_dragonfly.up.EDITOR:                                 _GFX_FILE_EDITOR_
bd_dragonfly.up.EDITOR.xpos:                            4
bd_dragonfly.up.EDITOR.ypos:                            8
bd_dragonfly.right:                                     _GFX_FILE_DEFAULT_
bd_dragonfly.right.xpos:                                0
bd_dragonfly.right.ypos:                                42
bd_dragonfly.right.frames:                              8
bd_dragonfly.right.delay:                               2
bd_dragonfly.right.scale_up_factor:                     2
bd_dragonfly.right.EDITOR:                              _GFX_FILE_EDITOR_
bd_dragonfly.right.EDITOR.xpos:                         7
bd_dragonfly.right.EDITOR.ypos:                         8
bd_dragonfly.down:                                      _GFX_FILE_DEFAULT_
bd_dragonfly.down.xpos:                                 0
bd_dragonfly.down.ypos:                                 42
bd_dragonfly.down.frames:                               8
bd_dragonfly.down.delay:                                2
bd_dragonfly.down.scale_up_factor:                      2
bd_dragonfly.down.EDITOR:                               _GFX_FILE_EDITOR_
bd_dragonfly.down.EDITOR.xpos:                          5
bd_dragonfly.down.EDITOR.ypos:                          8

bd_fake_bonus:                                          _GFX_FILE_DEFAULT_
bd_fake_bonus.xpos:                                     0
bd_fake_bonus.ypos:                                     15
bd_fake_bonus.frames:                                   8
bd_fake_bonus.delay:                                    2
bd_fake_bonus.scale_up_factor:                          2

bd_covered:                                             _GFX_FILE_DEFAULT_
bd_covered.xpos:                                        0
bd_covered.ypos:                                        16
bd_covered.frames:                                      8
bd_covered.delay:                                       2
bd_covered.scale_up_factor:                             2

bd_ghost:                                               _GFX_FILE_DEFAULT_
bd_ghost.xpos:                                          0
bd_ghost.ypos:                                          20
bd_ghost.frames:                                        8
bd_ghost.delay:                                         2
bd_ghost.scale_up_factor:                               2

bd_bladder:                                             _GFX_FILE_DEFAULT_
bd_bladder.xpos:                                        0
bd_bladder.ypos:                                        22
bd_bladder.frames:                                      8
bd_bladder.delay:                                       2
bd_bladder.scale_up_factor:                             2

bd_magic_wall.active:                                   _GFX_FILE_DEFAULT_
bd_magic_wall.active.xpos:                              0
bd_magic_wall.active.ypos:                              23
bd_magic_wall.active.frames:                            8
bd_magic_wall.active.delay:                             2
bd_magic_wall.active.scale_up_factor:                   2

bd_amoeba:                                              _GFX_FILE_DEFAULT_
bd_amoeba.xpos:                                         0
bd_amoeba.ypos:                                         24
bd_amoeba.frames:                                       8
bd_amoeba.delay:                                        2
bd_amoeba.scale_up_factor:                              2

bd_slime:                                               _GFX_FILE_DEFAULT_
bd_slime.xpos:                                          0
bd_slime.ypos:                                          25
bd_slime.frames:                                        8
bd_slime.delay:                                         2
bd_slime.scale_up_factor:                               2

# player is bored (default)
bd_player.boring:                                       _GFX_FILE_DEFAULT_
bd_player.boring.xpos:                                  3
bd_player.boring.ypos:                                  4
bd_player.boring.frames:                                1
bd_player.boring.scale_up_factor:                       2

# player is blinking
bd_player.boring[1]:                                    _GFX_FILE_DEFAULT_
bd_player.boring[1].xpos:                               0
bd_player.boring[1].ypos:                               26
bd_player.boring[1].frames:                             8
bd_player.boring[1].delay:                              2
bd_player.boring[1].scale_up_factor:                    2
bd_player.boring[1].anim_delay_fixed:                   16
bd_player.boring[1].anim_delay_random:                  0
bd_player.boring[1].post_delay_fixed:                   100
bd_player.boring[1].post_delay_random:                  0

# player is tapping
bd_player.boring[2]:                                    _GFX_FILE_DEFAULT_
bd_player.boring[2].xpos:                               0
bd_player.boring[2].ypos:                               27
bd_player.boring[2].frames:                             8
bd_player.boring[2].delay:                              2
bd_player.boring[2].scale_up_factor:                    2
bd_player.boring[2].anim_delay_fixed:                   64
bd_player.boring[2].anim_delay_random:                  0
bd_player.boring[2].post_delay_fixed:                   100
bd_player.boring[2].post_delay_random:                  0

# player is tapping and blinking
bd_player.boring[3]:                                    _GFX_FILE_DEFAULT_
bd_player.boring[3].xpos:                               0
bd_player.boring[3].ypos:                               28
bd_player.boring[3].frames:                             8
bd_player.boring[3].delay:                              2
bd_player.boring[3].scale_up_factor:                    2
bd_player.boring[3].anim_delay_fixed:                   16
bd_player.boring[3].anim_delay_random:                  0
bd_player.boring[3].post_delay_fixed:                   100
bd_player.boring[3].post_delay_random:                  0

bd_player.moving.left:                                  _GFX_FILE_DEFAULT_
bd_player.moving.left.xpos:                             0
bd_player.moving.left.ypos:                             29
bd_player.moving.left.frames:                           8
bd_player.moving.left.delay:                            2
bd_player.moving.left.scale_up_factor:                  2
bd_player.moving.right:                                 _GFX_FILE_DEFAULT_
bd_player.moving.right.xpos:                            0
bd_player.moving.right.ypos:                            30
bd_player.moving.right.frames:                          8
bd_player.moving.right.delay:                           2
bd_player.moving.right.scale_up_factor:                 2

bd_player.digging.left:                                 _GFX_FILE_DEFAULT_
bd_player.digging.left.xpos:                            0
bd_player.digging.left.ypos:                            29
bd_player.digging.left.frames:                          8
bd_player.digging.left.delay:                           2
bd_player.digging.left.scale_up_factor:                 2
bd_player.digging.right:                                _GFX_FILE_DEFAULT_
bd_player.digging.right.xpos:                           0
bd_player.digging.right.ypos:                           30
bd_player.digging.right.frames:                         8
bd_player.digging.right.delay:                          2
bd_player.digging.right.scale_up_factor:                2

bd_player.collecting.left:                              _GFX_FILE_DEFAULT_
bd_player.collecting.left.xpos:                         0
bd_player.collecting.left.ypos:                         29
bd_player.collecting.left.frames:                       8
bd_player.collecting.left.delay:                        2
bd_player.collecting.left.scale_up_factor:              2
bd_player.collecting.right:                             _GFX_FILE_DEFAULT_
bd_player.collecting.right.xpos:                        0
bd_player.collecting.right.ypos:                        30
bd_player.collecting.right.frames:                      8
bd_player.collecting.right.delay:                       2
bd_player.collecting.right.scale_up_factor:             2

bd_player.snapping.left:                                _GFX_FILE_DEFAULT_
bd_player.snapping.left.xpos:                           0
bd_player.snapping.left.ypos:                           29
bd_player.snapping.left.frames:                         8
bd_player.snapping.left.delay:                          2
bd_player.snapping.left.scale_up_factor:                2
bd_player.snapping.right:                               _GFX_FILE_DEFAULT_
bd_player.snapping.right.xpos:                          0
bd_player.snapping.right.ypos:                          30
bd_player.snapping.right.frames:                        8
bd_player.snapping.right.delay:                         2
bd_player.snapping.right.scale_up_factor:               2

bd_diamond:                                             _GFX_FILE_DEFAULT_
bd_diamond.xpos:                                        0
bd_diamond.ypos:                                        31
bd_diamond.frames:                                      8
bd_diamond.delay:                                       2
bd_diamond.scale_up_factor:                             2
bd_diamond.falling:                                     _GFX_FILE_DEFAULT_
bd_diamond.falling.xpos:                                0
bd_diamond.falling.ypos:                                31
bd_diamond.falling.frames:                              8
bd_diamond.falling.delay:                               2
bd_diamond.falling.scale_up_factor:                     2
bd_diamond.falling.EDITOR:                              _GFX_FILE_EDITOR_
bd_diamond.falling.EDITOR.xpos:                         0
bd_diamond.falling.EDITOR.ypos:                         3

bd_diamond_glued:                                       _GFX_FILE_DEFAULT_
bd_diamond_glued.xpos:                                  0
bd_diamond_glued.ypos:                                  31
bd_diamond_glued.frames:                                8
bd_diamond_glued.delay:                                 2
bd_diamond_glued.scale_up_factor:                       2
bd_diamond_glued.EDITOR:                                _GFX_FILE_EDITOR_
bd_diamond_glued.EDITOR.xpos:                           1
bd_diamond_glued.EDITOR.ypos:                           4

bd_player_stirring:                                     _GFX_FILE_DEFAULT_
bd_player_stirring.xpos:                                0
bd_player_stirring.ypos:                                32
bd_player_stirring.frames:                              8
bd_player_stirring.delay:                               2
bd_player_stirring.scale_up_factor:                     2

bd_pneumatic_hammer.hitting.left:                       _GFX_FILE_DEFAULT_
bd_pneumatic_hammer.hitting.left.xpos:                  0
bd_pneumatic_hammer.hitting.left.ypos:                  33
bd_pneumatic_hammer.hitting.left.frames:                2
bd_pneumatic_hammer.hitting.left.delay:                 4
bd_pneumatic_hammer.hitting.left.offset:                64
bd_pneumatic_hammer.hitting.left.scale_up_factor:       2

bd_player.hitting.left:                                 _GFX_FILE_DEFAULT_
bd_player.hitting.left.xpos:                            1
bd_player.hitting.left.ypos:                            33
bd_player.hitting.left.frames:                          2
bd_player.hitting.left.delay:                           4
bd_player.hitting.left.offset:                          64
bd_player.hitting.left.scale_up_factor:                 2
bd_player.hitting.right:                                _GFX_FILE_DEFAULT_
bd_player.hitting.right.xpos:                           4
bd_player.hitting.right.ypos:                           33
bd_player.hitting.right.frames:                         2
bd_player.hitting.right.delay:                          4
bd_player.hitting.right.offset:                         64
bd_player.hitting.right.scale_up_factor:                2

bd_pneumatic_hammer.hitting.right:                      _GFX_FILE_DEFAULT_
bd_pneumatic_hammer.hitting.right.xpos:                 5
bd_pneumatic_hammer.hitting.right.ypos:                 33
bd_pneumatic_hammer.hitting.right.frames:               2
bd_pneumatic_hammer.hitting.right.delay:                4
bd_pneumatic_hammer.hitting.right.offset:               64
bd_pneumatic_hammer.hitting.right.scale_up_factor:      2

bd_mega_rock:                                           _GFX_FILE_DEFAULT_
bd_mega_rock.xpos:                                      0
bd_mega_rock.ypos:                                      34
bd_mega_rock.frames:                                    1
bd_mega_rock.scale_up_factor:                           2
bd_mega_rock.falling.EDITOR:                            _GFX_FILE_EDITOR_
bd_mega_rock.falling.EDITOR.xpos:                       2
bd_mega_rock.falling.EDITOR.ypos:                       3

bd_skeleton:                                            _GFX_FILE_DEFAULT_
bd_skeleton.xpos:                                       1
bd_skeleton.ypos:                                       34
bd_skeleton.frames:                                     1
bd_skeleton.scale_up_factor:                            2

bd_gravity_switch:                                      _GFX_FILE_DEFAULT_
bd_gravity_switch.xpos:                                 2
bd_gravity_switch.ypos:                                 34
bd_gravity_switch.frames:                               1
bd_gravity_switch.scale_up_factor:                      2
bd_gravity_switch.active:                               _GFX_FILE_DEFAULT_
bd_gravity_switch.active.xpos:                          3
bd_gravity_switch.active.ypos:                          34
bd_gravity_switch.active.frames:                        1
bd_gravity_switch.active.scale_up_factor:               2

bd_wall_sloped_up_right:                                _GFX_FILE_DEFAULT_
bd_wall_sloped_up_right.xpos:                           4
bd_wall_sloped_up_right.ypos:                           34
bd_wall_sloped_up_right.frames:                         1
bd_wall_sloped_up_right.scale_up_factor:                2

bd_wall_sloped_up_left:                                 _GFX_FILE_DEFAULT_
bd_wall_sloped_up_left.xpos:                            5
bd_wall_sloped_up_left.ypos:                            34
bd_wall_sloped_up_left.frames:                          1
bd_wall_sloped_up_left.scale_up_factor:                 2

bd_wall_sloped_down_left:                               _GFX_FILE_DEFAULT_
bd_wall_sloped_down_left.xpos:                          6
bd_wall_sloped_down_left.ypos:                          34
bd_wall_sloped_down_left.frames:                        1
bd_wall_sloped_down_left.scale_up_factor:               2

bd_wall_sloped_down_right:                              _GFX_FILE_DEFAULT_
bd_wall_sloped_down_right.xpos:                         7
bd_wall_sloped_down_right.ypos:                         34
bd_wall_sloped_down_right.frames:                       1
bd_wall_sloped_down_right.scale_up_factor:              2

bd_sand_sloped_up_right:                                _GFX_FILE_DEFAULT_
bd_sand_sloped_up_right.xpos:                           0
bd_sand_sloped_up_right.ypos:                           35
bd_sand_sloped_up_right.frames:                         1
bd_sand_sloped_up_right.scale_up_factor:                2

bd_sand_sloped_up_left:                                 _GFX_FILE_DEFAULT_
bd_sand_sloped_up_left.xpos:                            1
bd_sand_sloped_up_left.ypos:                            35
bd_sand_sloped_up_left.frames:                          1
bd_sand_sloped_up_left.scale_up_factor:                 2

bd_sand_sloped_down_left:                               _GFX_FILE_DEFAULT_
bd_sand_sloped_down_left.xpos:                          2
bd_sand_sloped_down_left.ypos:                          35
bd_sand_sloped_down_left.frames:                        1
bd_sand_sloped_down_left.scale_up_factor:               2

bd_sand_sloped_down_right:                              _GFX_FILE_DEFAULT_
bd_sand_sloped_down_right.xpos:                         3
bd_sand_sloped_down_right.ypos:                         35
bd_sand_sloped_down_right.frames:                       1
bd_sand_sloped_down_right.scale_up_factor:              2

bd_steelwall_sloped_up_right:                           _GFX_FILE_DEFAULT_
bd_steelwall_sloped_up_right.xpos:                      4
bd_steelwall_sloped_up_right.ypos:                      35
bd_steelwall_sloped_up_right.frames:                    1
bd_steelwall_sloped_up_right.scale_up_factor:           2

bd_steelwall_sloped_up_left:                            _GFX_FILE_DEFAULT_
bd_steelwall_sloped_up_left.xpos:                       5
bd_steelwall_sloped_up_left.ypos:                       35
bd_steelwall_sloped_up_left.frames:                     1
bd_steelwall_sloped_up_left.scale_up_factor:            2

bd_steelwall_sloped_down_left:                          _GFX_FILE_DEFAULT_
bd_steelwall_sloped_down_left.xpos:                     6
bd_steelwall_sloped_down_left.ypos:                     35
bd_steelwall_sloped_down_left.frames:                   1
bd_steelwall_sloped_down_left.scale_up_factor:          2

bd_steelwall_sloped_down_right:                         _GFX_FILE_DEFAULT_
bd_steelwall_sloped_down_right.xpos:                    7
bd_steelwall_sloped_down_right.ypos:                    35
bd_steelwall_sloped_down_right.frames:                  1
bd_steelwall_sloped_down_right.scale_up_factor:         2

bd_nitro_pack:                                          _GFX_FILE_DEFAULT_
bd_nitro_pack.xpos:                                     0
bd_nitro_pack.ypos:                                     36
bd_nitro_pack.frames:                                   1
bd_nitro_pack.scale_up_factor:                          2
bd_nitro_pack.falling.EDITOR:                           _GFX_FILE_EDITOR_
bd_nitro_pack.falling.EDITOR.xpos:                      6
bd_nitro_pack.falling.EDITOR.ypos:                      3

bd_sand_ball:                                           _GFX_FILE_DEFAULT_
bd_sand_ball.xpos:                                      1
bd_sand_ball.ypos:                                      36
bd_sand_ball.frames:                                    1
bd_sand_ball.scale_up_factor:                           2

bd_replicator_switch.active:                            _GFX_FILE_DEFAULT_
bd_replicator_switch.active.xpos:                       2
bd_replicator_switch.active.ypos:                       36
bd_replicator_switch.active.frames:                     1
bd_replicator_switch.active.scale_up_factor:            2
bd_replicator_switch:                                   _GFX_FILE_DEFAULT_
bd_replicator_switch.xpos:                              3
bd_replicator_switch.ypos:                              36
bd_replicator_switch.frames:                            1
bd_replicator_switch.scale_up_factor:                   2

bd_amoeba_2.exploding:                                  _GFX_FILE_DEFAULT_
bd_amoeba_2.exploding.xpos:                             4
bd_amoeba_2.exploding.ypos:                             36
bd_amoeba_2.exploding.frames:                           4
bd_amoeba_2.exploding.delay:                            8
bd_amoeba_2.exploding.anim_mode:                        linear
bd_amoeba_2.exploding.scale_up_factor:                  2

bd_amoeba_2:                                            _GFX_FILE_DEFAULT_
bd_amoeba_2.xpos:                                       0
bd_amoeba_2.ypos:                                       37
bd_amoeba_2.frames:                                     8
bd_amoeba_2.delay:                                      2
bd_amoeba_2.scale_up_factor:                            2

bd_replicator:                                          _GFX_FILE_DEFAULT_
bd_replicator.xpos:                                     0
bd_replicator.ypos:                                     38
bd_replicator.frames:                                   1
bd_replicator.scale_up_factor:                          2

bd_replicator.active:                                   _GFX_FILE_DEFAULT_
bd_replicator.active.xpos:                              0
bd_replicator.active.ypos:                              38
bd_replicator.active.frames:                            8
bd_replicator.active.delay:                             2
bd_replicator.active.scale_up_factor:                   2

bd_lava:                                                _GFX_FILE_DEFAULT_
bd_lava.xpos:                                           0
bd_lava.ypos:                                           39
bd_lava.frames:                                         8
bd_lava.delay:                                          2
bd_lava.scale_up_factor:                                2

bd_conveyor_right:                                      _GFX_FILE_DEFAULT_
bd_conveyor_right.xpos:                                 0
bd_conveyor_right.ypos:                                 40
bd_conveyor_right.frames:                               1
bd_conveyor_right.scale_up_factor:                      2
bd_conveyor_right.active:                               _GFX_FILE_DEFAULT_
bd_conveyor_right.active.xpos:                          0
bd_conveyor_right.active.ypos:                          40
bd_conveyor_right.active.frames:                        8
bd_conveyor_right.active.delay:                         2
bd_conveyor_right.active.scale_up_factor:               2
bd_conveyor_right.EDITOR:                               _GFX_FILE_EDITOR_
bd_conveyor_right.EDITOR.xpos:                          7
bd_conveyor_right.EDITOR.ypos:                          0

bd_conveyor_left:                                       _GFX_FILE_DEFAULT_
bd_conveyor_left.xpos:                                  0
bd_conveyor_left.ypos:                                  41
bd_conveyor_left.frames:                                1
bd_conveyor_left.scale_up_factor:                       2
bd_conveyor_left.active:                                _GFX_FILE_DEFAULT_
bd_conveyor_left.active.xpos:                           0
bd_conveyor_left.active.ypos:                           41
bd_conveyor_left.active.frames:                         8
bd_conveyor_left.active.delay:                          2
bd_conveyor_left.active.scale_up_factor:                2
bd_conveyor_left.EDITOR:                                _GFX_FILE_EDITOR_
bd_conveyor_left.EDITOR.xpos:                           6
bd_conveyor_left.EDITOR.ypos:                           0

bd_flying_diamond:                                      _GFX_FILE_DEFAULT_
bd_flying_diamond.xpos:                                 0
bd_flying_diamond.ypos:                                 43
bd_flying_diamond.frames:                               8
bd_flying_diamond.delay:                                2
bd_flying_diamond.scale_up_factor:                      2
bd_flying_diamond.flying.EDITOR:                        _GFX_FILE_EDITOR_
bd_flying_diamond.flying.EDITOR.xpos:                   3
bd_flying_diamond.flying.EDITOR.ypos:                   3

bd_sand_loose:                                          _GFX_FILE_DEFAULT_
bd_sand_loose.xpos:                                     0
bd_sand_loose.ypos:                                     44
bd_sand_loose.frames:                                   1
bd_sand_loose.scale_up_factor:                          2

bd_conveyor_dir_switch:                                 _GFX_FILE_DEFAULT_
bd_conveyor_dir_switch.xpos:                            1
bd_conveyor_dir_switch.ypos:                            44
bd_conveyor_dir_switch.frames:                          1
bd_conveyor_dir_switch.scale_up_factor:                 2

bd_conveyor_dir_switch.active:                          _GFX_FILE_DEFAULT_
bd_conveyor_dir_switch.active.xpos:                     2
bd_conveyor_dir_switch.active.ypos:                     44
bd_conveyor_dir_switch.active.frames:                   1
bd_conveyor_dir_switch.active.scale_up_factor:          2

bd_conveyor_switch:                                     _GFX_FILE_DEFAULT_
bd_conveyor_switch.xpos:                                3
bd_conveyor_switch.ypos:                                44
bd_conveyor_switch.frames:                              1
bd_conveyor_switch.scale_up_factor:                     2
bd_conveyor_switch.active:                              _GFX_FILE_DEFAULT_
bd_conveyor_switch.active.xpos:                         4
bd_conveyor_switch.active.ypos:                         44
bd_conveyor_switch.active.frames:                       1
bd_conveyor_switch.active.scale_up_factor:              2

bd_flying_rock:                                         _GFX_FILE_DEFAULT_
bd_flying_rock.xpos:                                    5
bd_flying_rock.ypos:                                    44
bd_flying_rock.frames:                                  1
bd_flying_rock.scale_up_factor:                         2
bd_flying_rock.flying.EDITOR:                           _GFX_FILE_EDITOR_
bd_flying_rock.flying.EDITOR.xpos:                      4
bd_flying_rock.flying.EDITOR.ypos:                      3

bd_nut:                                                 _GFX_FILE_DEFAULT_
bd_nut.xpos:                                            6
bd_nut.ypos:                                            44
bd_nut.frames:                                          1
bd_nut.scale_up_factor:                                 2
bd_nut.falling.EDITOR:                                  _GFX_FILE_EDITOR_
bd_nut.falling.EDITOR.xpos:                             7
bd_nut.falling.EDITOR.ypos:                             3

bd_nut.breaking:                                        _GFX_FILE_DEFAULT_
bd_nut.breaking.xpos:                                   0
bd_nut.breaking.ypos:                                   45
bd_nut.breaking.frames:                                 4
bd_nut.breaking.delay:                                  8
bd_nut.breaking.anim_mode:                              linear
bd_nut.breaking.scale_up_factor:                        2

bd_rocket:                                              _GFX_FILE_DEFAULT_
bd_rocket.xpos:                                         5
bd_rocket.ypos:                                         45
bd_rocket.frames:                                       1
bd_rocket.scale_up_factor:                              2

bd_rocket.right:                                        _GFX_FILE_DEFAULT_
bd_rocket.right.xpos:                                   4
bd_rocket.right.ypos:                                   45
bd_rocket.right.frames:                                 1
bd_rocket.right.scale_up_factor:                        2

bd_rocket.up:                                           _GFX_FILE_DEFAULT_
bd_rocket.up.xpos:                                      5
bd_rocket.up.ypos:                                      45
bd_rocket.up.frames:                                    1
bd_rocket.up.scale_up_factor:                           2

bd_rocket.left:                                         _GFX_FILE_DEFAULT_
bd_rocket.left.xpos:                                    6
bd_rocket.left.ypos:                                    45
bd_rocket.left.frames:                                  1
bd_rocket.left.scale_up_factor:                         2

bd_rocket.down:                                         _GFX_FILE_DEFAULT_
bd_rocket.down.xpos:                                    7
bd_rocket.down.ypos:                                    45
bd_rocket.down.frames:                                  1
bd_rocket.down.scale_up_factor:                         2

bd_rocket_launcher:                                     _GFX_FILE_DEFAULT_
bd_rocket_launcher.xpos:                                0
bd_rocket_launcher.ypos:                                46
bd_rocket_launcher.frames:                              1
bd_rocket_launcher.scale_up_factor:                     2

bd_player_with_rocket_launcher:                         _GFX_FILE_DEFAULT_
bd_player_with_rocket_launcher.xpos:                    1
bd_player_with_rocket_launcher.ypos:                    46
bd_player_with_rocket_launcher.frames:                  1
bd_player_with_rocket_launcher.scale_up_factor:         2

bd_player.moving.up:                                    _GFX_FILE_DEFAULT_
bd_player.moving.up.xpos:                               0
bd_player.moving.up.ypos:                               47
bd_player.moving.up.frames:                             8
bd_player.moving.up.delay:                              2
bd_player.moving.up.scale_up_factor:                    2
bd_player.moving.down:                                  _GFX_FILE_DEFAULT_
bd_player.moving.down.xpos:                             0
bd_player.moving.down.ypos:                             48
bd_player.moving.down.frames:                           8
bd_player.moving.down.delay:                            2
bd_player.moving.down.scale_up_factor:                  2

bd_player.digging.up:                                   _GFX_FILE_DEFAULT_
bd_player.digging.up.xpos:                              0
bd_player.digging.up.ypos:                              47
bd_player.digging.up.frames:                            8
bd_player.digging.up.delay:                             2
bd_player.digging.up.scale_up_factor:                   2
bd_player.digging.down:                                 _GFX_FILE_DEFAULT_
bd_player.digging.down.xpos:                            0
bd_player.digging.down.ypos:                            48
bd_player.digging.down.frames:                          8
bd_player.digging.down.delay:                           2
bd_player.digging.down.scale_up_factor:                 2

bd_player.collecting.up:                                _GFX_FILE_DEFAULT_
bd_player.collecting.up.xpos:                           0
bd_player.collecting.up.ypos:                           47
bd_player.collecting.up.frames:                         8
bd_player.collecting.up.delay:                          2
bd_player.collecting.up.scale_up_factor:                2
bd_player.collecting.down:                              _GFX_FILE_DEFAULT_
bd_player.collecting.down.xpos:                         0
bd_player.collecting.down.ypos:                         48
bd_player.collecting.down.frames:                       8
bd_player.collecting.down.delay:                        2
bd_player.collecting.down.scale_up_factor:              2

bd_player.pushing.up:                                   _GFX_FILE_DEFAULT_
bd_player.pushing.up.xpos:                              0
bd_player.pushing.up.ypos:                              47
bd_player.pushing.up.frames:                            8
bd_player.pushing.up.delay:                             2
bd_player.pushing.up.scale_up_factor:                   2
bd_player.pushing.down:                                 _GFX_FILE_DEFAULT_
bd_player.pushing.down.xpos:                            0
bd_player.pushing.down.ypos:                            48
bd_player.pushing.down.frames:                          8
bd_player.pushing.down.delay:                           2
bd_player.pushing.down.scale_up_factor:                 2

bd_player.snapping.up:                                  _GFX_FILE_DEFAULT_
bd_player.snapping.up.xpos:                             0
bd_player.snapping.up.ypos:                             47
bd_player.snapping.up.frames:                           8
bd_player.snapping.up.delay:                            2
bd_player.snapping.up.scale_up_factor:                  2
bd_player.snapping.down:                                _GFX_FILE_DEFAULT_
bd_player.snapping.down.xpos:                           0
bd_player.snapping.down.ypos:                           48
bd_player.snapping.down.frames:                         8
bd_player.snapping.down.delay:                          2
bd_player.snapping.down.scale_up_factor:                2

bd_player.pushing.left:                                 _GFX_FILE_DEFAULT_
bd_player.pushing.left.xpos:                            0
bd_player.pushing.left.ypos:                            49
bd_player.pushing.left.frames:                          8
bd_player.pushing.left.delay:                           2
bd_player.pushing.left.scale_up_factor:                 2
bd_player.pushing.right:                                _GFX_FILE_DEFAULT_
bd_player.pushing.right.xpos:                           0
bd_player.pushing.right.ypos:                           50
bd_player.pushing.right.frames:                         8
bd_player.pushing.right.delay:                          2
bd_player.pushing.right.scale_up_factor:                2

[player].boring_delay_fixed:                            250
[player].boring_delay_random:                           250

game.use_native_bd_graphics_engine:                     true
